<p>Bienvenue <%= @email %> !</p>

<p>Vous pouvez confirmer l'adresse e-mail de votre compte via le lien ci-dessous :</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@user, confirmation_token: @token) %></p>
