<div class="banner">
  <div class="container">
    <br>
    <h1 class="banner-titre">Trouve ton prochain <span>tournage</span></h1>
    <br>
    <h1 class="banner-text">Découvre des missions pour les <span>intermittents</span> partout en France <br><br>
    <br>
      <%= link_to new_candidat_path, class: 'btn btn-large btn-primary' do %>
        <i class="fa-solid fa-user-plus" style="margin-right: 7px;"></i> Créer mon profil
      <% end %>
      <button type="button" data-bs-toggle="modal" data-bs-target="#alerte" class="btn btn-large btn-secondary">
        <i class="fa-solid fa-bell" style="margin-right: 7px;"></i> Alerte
      </button>
    </h1>
  </div>
</div>
