<div class="footer">
  <div class="footer-haut">
    <div class="grid-footer" style="display:grid;grid-template-columns: repeat(2, minmax(0, 1fr));">
      <div class="grid-item">
        <h3 class="footer-title">A propos</h3>
        <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
      </div>
      <div class="grid-item">
        <h3 class="footer-title">Contact</h3>
        <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
      </div>
      <div class="grid-item">
        <h3 class="footer-title">Condition d'utilisation</h3>
        <p class="footer-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
      </div>
    </div>
  </div>
  <div class="footer-bas">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
