<div class="container" style="display: flex;justify-content: flex-end;position: absolute; top: -1px;">
  <%= link_to 'javascript:history.back()' do %>
    <i class="fa-regular fa-circle-xmark" style="font-size: 50px; color: red;"></i>
  <% end %>
</div>
