<%= render 'shared/navbar' %>
<div class="banner">
  <div class="container">
    <br><br><br>
    <h1 class="banner-titre">Bienvenu sur <span>Final Claps</span></h1>
    <p>C'est génial de t'avoir ici. Il est temps de choisir ton camp.</p>
    <br><br><br>
  </div>
</div>
<div class="grid" style="display: grid; grid-template-columns: 1fr 1fr;">
  <div class="left">
    <div class="card-home">
        <h3>Je recherche un job/mission</h3>
        <p>Tu es intermitant du spectacle et tu vuex des offres de missions, stages, caché...</p>
    </div>
  </div>
  <div class="right">
    <div class="card-home">
      <h3>Je recrute des intermitants</h3>
      <p>Ta boite cherche à recruter des intermitants en missions de courtes et longues durées... </p>
  </div>
  </div>

</div>
