.banner {
  background-size: cover;
  background-position: center;
  text-align: center;

  .banner-titre {
    font-size: 2.5rem;
    color: #064789;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
  }

  .banner-text {
    font-size: 1.25rem;
    color: rgb(73, 71, 71);
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  span {
    color: #ebf2fa;
    text-decoration: 1px solid #064789;
    font-weight: bold;
    text-shadow: -1px 0 #064789, 0 1px #064789, 1px 0 #064789, 0 -1px #064789;
  }
}

#new_newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-content {
  padding: 15px;
}

#newsletter_email {
  text-align: center;
}
