.banner {
  background-size: cover;
  background-position: center;
  text-align: center;

  .banner-titre {
    font-size: 2.5rem;
    color: #064789;
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-weight: bold;
  }

  .banner-text {
    font-size: 1.25rem;
    color: rgb(73, 71, 71);
    opacity: .8;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  span {
    color: #ebf2fa;
    text-decoration: 1px solid #064789;
    font-weight: bold;
    text-shadow: -2px 0 #064789, 0 2px #064789, 2px 0 #064789, 0 -2px #064789;
  }
}
