.container-card-home {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-home {
  background-color: transparent;
  border-radius: 8px;
  box-shadow: 3px 4px 9px 0px #ebf2fa;
  backdrop-filter: blur(40px);
  -webkit-backdrop-filter: blur(40px);
  border: 1px solid #ebf2fa;
  .card-home-item-title {
    display: flex;
    text-align: center;
    color: $strong;
    text-shadow: $secondary 1px 1px 1px;
  }
  .card-home-item-text {
    display: flex;
    text-align: justify;
    font-size: 12px !important;
    padding: 5px;
    color: $gray;
  }
  .card-home-bas {
    margin-top: 10px !important;
    small {
      margin-bottom: 0px !important;
    }
    span, .fa-solid {
      color: #064789;
      text-decoration: 1px solid #064789;
      font-weight: bold;
      text-shadow: -1px 0 #ebf2fa, 0 1px #ebf2fa, 1px 0 #ebf2fa, 0 -1px #ebf2fa;
    }
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-card-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-card-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container-card-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-card-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-card-home {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.card-product img {
  // height: 100%;
  width: 150px;
}
