.container-card-home {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-home {
  background-color: #fff;
  height: 91%;
  border-radius: 8px;
  box-shadow: 3px 4px 9px 0px #918888;
  backdrop-filter: blur(5.7px);
  -webkit-backdrop-filter: blur(5.7px);
  border: 1px solid rgba(255, 255, 255, 0.9);
  margin-bottom: 5px;
  padding: 16px;

}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .container-card-home {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container-card-home {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .card-home {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container-card-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container-card-home {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.card-product img {
  // height: 100%;
  width: 150px;
}
