.footer {
  background: transparent;
  backdrop-filter: blur(40px);
  border-top: $secondary 1px solid;
  display: flex;
  flex-direction: column;
  padding: 50px 50px 0px 50px ;
  color: rgba(0,0,0,0.7);
  margin-top: 2rem;
  .footer-title {
    color: $strong;
    text-shadow: $secondary 1px 1px 1px;
  }
  .footer-haut, .footer-bas {
    p {
      color: white;
    }
  }
  .footer-bas {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 100px;
    padding: 50px;
    color: rgba(0,0,0,0.7);
  }
  .footer-haut {
    text-align: center;
  }
}


.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

@media (max-width: 955px) {
  .footer-bas {
    text-align: center !important;
    flex-direction: column !important;
    width: auto !important;
  }
  .grid-footer {
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 100px) and (max-width: 850px ) {
  .footer {
    margin-top: 23rem !important;
  }
}