.navbar-lewagon {
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-expand-sm .navbar-toggler {
  display: none;
}

.navbar-expand-sm .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}
